@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
                    background-color: green;
                    color: white;
}

html{
                    overflow-y: scroll;
}